.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#prl1 {
  background-image: url("https://i.ibb.co/pZMYg7W/vsadsa.jpg");
}

#prl2 {
  background-image: url("https://www.w3schools.com/howto/img_parallax2.jpg");
}

#prl3 {
  background-image: url("https://www.w3schools.com/howto/img_parallax3.jpg");
}

#prl4 {
  background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
}
